[submodule "lib/ctrl"]
	path = lib/ctrl
	url = git@github.com:Haris-Mehinovic/micromouse-control-module.git
[submodule "lib/maze"]
	path = lib/maze
	url = git@github.com:Haris-Mehinovic/micromouse-maze-library.git
